@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@600&display=swap');

.appbar {
    background-color: #FFCC26;
    color: #414141;
    font-family: 'Anek Telugu', sans-serif;
    font-weight: 600;
}

.appfont {
    font-family: 'Anek Telugu', sans-serif;
    font-weight: 600;
}

.icon__wrapper {
    display: flex;
    height: 31.5px;
    background-color: #FFCC26;
    border-radius: 5px;
    cursor: pointer;
}

.row__wrapper {
    display: flex;
    flex: 1 1 262px;
    flex-direction: column;
    width: 262px;
    height: 365px;
    background: #FFFFFF;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='30' ry='30' stroke='%23000000FF' stroke-width='1' stroke-dasharray='18%2c 10' stroke-dashoffset='0' stroke-linecap='round'/%3e%3c/svg%3e");
    border-radius: 30px;
}

.row__inner {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.row__footer {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 25px 22px 25px;
}

.img__box {
    overflow: hidden;
    height: 200px;
    width: 200px;
    position: relative;
    margin-top: 25px;
    border-radius: 53px;
}

.img {
    width: 200px;
    height: 200px;
}

.row>div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 70px 30px;
    grid-template-areas:
        ". . . ."
        ". . . .";
    width: 1168px !important;
    height: 100%;
    position: absolute;
    right: 60px;
    margin-top: 85px;
}

.link {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #414141;
}