.frow__inner {
    display: flex;
    width: 347px;
    height: 130px;
    margin: 0 30px;
    margin-bottom: 15px;
}

.fimg {
    width: 110px;
    height: 110px;
}

.fimg__box {
    overflow: hidden;
    height: 110px;
    width: 110px;
    position: relative;
    border-radius: 28px;
}

.fav__footer {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.ficon__wrapper {
    display: flex;
    height: 31.5px;
    background-color: #FFCC26;
    border-radius: 5px;
    cursor: pointer;
}

.favlink {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #414141;
}