.container {
    position: fixed;
    top: 200px;
    left: 100px;
    width: 407px;
    height: 880px;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='30' ry='30' stroke='%23414141' stroke-width='2' stroke-dasharray='16%2c 12' stroke-dashoffset='2' stroke-linecap='round'/%3e%3c/svg%3e");
    border-radius: 30px;
    background-color: white;
    overflow: hidden;
    z-index: 10;
}

@media (min-width: 800px) and (max-width: 1600px) {
    .container {
        left: 30px;
        width: 300px;
        height: 565px;
    }
}